@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --font-cinzel: var(--font-cinzel);
  --font-geist: var(--font-geist-sans);
  
  @keyframes pulse-slow {
    0%, 100% { opacity: 0.05; transform: scale(1); }
    50% { opacity: 0.1; transform: scale(1.02); }
  }
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --card: #09090b;
  --card-foreground: #ffffff;
  --border: #18181b;
  --input: #09090b;
  --ring: #ffffff;
  --radius: 0.5rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist);
}